body {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  line-height: 1.5;
  color: #8f8f8f;
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  color: #fff;
  font-size: 3rem;
}

h2 {
  font-family: 'Montserrat-bold', sans-serif;
  color: #000;
  font-size: 2rem;
}

h3 {
  font-family: 'Montserrat-bold', sans-serif;
  color: #000;
  font-size: 1.5rem;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Title Section */
#title .container-fluid {
  padding: 3% 15% 7%;
}

.navbar {
  padding-left: 0;
  margin-bottom: 10%;
}

.navbar-brand {
  font-size: 2rem;
}

.col-title {
  text-align: left;
}

.btn-download {
  margin: 5% 5% 0 0;
}

.title-pic {
  width: 40%;
  transform: rotate(25deg);
}

/* Feature Section */
.fas-features {
  color: #ef8172;
  margin-bottom: 15px;
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
  padding-bottom: 7%;
}

.testimonial-text {
  color: #fff;
}

.testimonial-image {
    margin-top: 25px;
    width: 75px;
    border-radius: 100%;
}

.press-logo {
  width: 150px;
  margin: 25px;
}

/* Pricing Section */
.row-pricing {
  margin-top: 50px;
}

/* CTA Section */
.btn-cta {
  margin: 25px auto 0;
}

/* Footer Section */
#footer {
  margin: 50px auto 25px;
}

.fab-footer {
  margin: 5px;
}
